*{
    padding: 0;
    margin: 0;
}

body{
    padding-left: calc(50% - 360px / 2);
    padding-right: calc(50% - 360px / 2);
    background-color: rgb(29, 28, 28);
    
}
a{
    text-decoration: none;
}
.container{
    background-color: rgb(29, 28, 28);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: 100vh;
}

.screen{
    height: 200px;
    border-radius: 15px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    background-color: rgb(133, 84, 4);
    padding: 30px 10px;
    color: white;
    font-size: 80px;
    text-align: end;
    box-sizing: border-box;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    row-gap: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.button{
    background-color: rgb(53, 48, 48);
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    padding-top: 22px;
    padding-bottom: 22px;
    /* padding-left: 1px;
    padding-right: 1px; */
    font-size: 25px;
    font-weight: 700;

}

.button:hover{
    background-color: rgb(78, 70, 70);

}

.buttonAC{
    grid-column: 4/5;
    background-color: rgb(8, 100, 17);
}
.buttonAC:hover{
    background-color: rgb(24, 141, 36);

}
.buttonAction{
    background-color: rgb(168, 103, 0);
    
}
.buttonAction:hover{
    background-color: rgb(193, 126, 18);
    
}

